 html {

}

.top{
    position: relative;
}

.title {
    text-align: center;
    width: 100%;
    margin-top: 0.2rem;

}

.title_left {
    width: 14%;
    float: left;
    text-align: center;
    height: 0.6rem;

}

.title_center {
    float: left;
    width: 70%;
    display: inline;
    border-radius: 0.3rem;
    background: #FEFFFE;
    border: 1px solid #ccc;//设置边框

}
.title_icon{
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.1rem;
}
.search_input {
    width: 80%;
    float: left;
    display: inline;
    height: 0.6rem;
    background: #000000;
    opacity: 0;
    line-height: 28px;
}
.search_icon {
    width: 0.29rem;
    height: 0.29rem;
    float: right;
    display: inline-block;
    margin-top: -0.145rem;
    position: absolute;
    top: 50%;

    margin-right: 5px;
}
.title_right {
    float: left;
    text-align: center;
    width: 14%;
    height: 0.6rem;
}


.top_icon{
    width: 0.98rem;
    height: 0.98rem;
    margin-bottom: 0.25rem;
    vertical-align:middle;

}
.top_icon_text{
    clear: both;
    font-size: 0.24rem;
    color: #303133;
    vertical-align:middle;

}

